<mat-card>
  <mat-card-title><h3>Vacancies</h3></mat-card-title>
  <mat-card-content>
    <div class="button-row">
      <button
        mat-raised-button
        color="primary"
        routerLink="/recruitment/add-vacancy"
      >
        Add Vacancy
      </button>
    </div>
    <mat-table [dataSource]="vacancies">
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
        <mat-cell *matCellDef="let vacancy">{{ vacancy.position }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobTitle">
        <mat-header-cell *matHeaderCellDef>Job Title</mat-header-cell>
        <mat-cell *matCellDef="let vacancy">{{ vacancy.jobTitle }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="hiringManager">
        <mat-header-cell *matHeaderCellDef>Hiring Manager</mat-header-cell>
        <mat-cell *matCellDef="let vacancy">{{
          vacancy.hiringManager
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let vacancy">{{ vacancy.status }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let vacancy">
          <button mat-icon-button color="info" aria-label="View">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteVacancy(vacancy)">
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            (click)="editVacancy(vacancy)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="[
          'position',
          'jobTitle',
          'hiringManager',
          'status',
          'actions'
        ]"
      ></mat-header-row>
      <mat-row
        *matRowDef="
          let row;
          columns: [
            'position',
            'jobTitle',
            'hiringManager',
            'status',
            'actions'
          ]
        "
      ></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
