<!-- timesheet.component.html -->

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Project Column -->
  <ng-container matColumnDef="project">
    <mat-header-cell *matHeaderCellDef> Project </mat-header-cell>
    <mat-cell *matCellDef="let timesheetEntry">
      {{ timesheetEntry.project }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
  </ng-container>

  <!-- Activity Column -->
  <ng-container matColumnDef="activity">
    <mat-header-cell *matHeaderCellDef> Activity </mat-header-cell>
    <mat-cell *matCellDef="let timesheetEntry">
      {{ timesheetEntry.activity }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
  </ng-container>

  <!-- Days of the Week Columns -->
  <ng-container *ngFor="let day of daysOfWeek" [matColumnDef]="day">
    <mat-header-cell *matHeaderCellDef> {{ day }} </mat-header-cell>
    <mat-cell *matCellDef="let timesheetEntry">
      {{ timesheetEntry[day]?.spentHours }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>
      {{ calculateColumnTotal(day) }}
    </mat-footer-cell>
  </ng-container>

  <!-- Total Column -->
  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
    <mat-cell *matCellDef="let timesheetEntry">
      {{ calculateTotalHours(timesheetEntry) }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>
      {{ calculateColumnTotal("total") }}
    </mat-footer-cell>
  </ng-container>

  <!-- Header Row -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <!-- Data Rows -->
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <!-- Footer Rows -->
  <mat-footer-row
    *matFooterRowDef="displayedColumns; sticky: true"
    class="total-row"
  ></mat-footer-row>
</mat-table>
