<mat-card>
  <mat-card-content>
    <div class="button-row">
      <button mat-raised-button color="primary" routerLink="/company/add-user">
        Add Job Title
      </button>
    </div>
    <table mat-table [dataSource]="jobTitles">
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let jobTitle">{{ jobTitle.title }}</td>
      </ng-container>

      <!-- Department Column -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>Department</th>
        <td mat-cell *matCellDef="let jobTitle">{{ jobTitle.department }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let jobTitle">
          <button
            mat-icon-button
            color="primary"
            (click)="editJobTitle(jobTitle)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteJobTitle(jobTitle)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table> </mat-card-content
></mat-card>
